# Python general
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.log
*.tmp

# Virtualenv
venv/
env/
.venv/
.env/
env.bak/

# PyCharm specific
.idea/
*.iml
*.iws

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm sensitive project settings
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
